#logo {
    height:125px;
}

#title {
    font-family: 'Slabo 27px', serif;
}

body {
    font-family: 'Merriweather', serif;  
}

#start-button{
    background-color: darkblue;
    border:darkblue;
}
#submit-button{
    background-color: darkblue;
    border:darkblue;
}
#restart-button {
    background-color: darkblue;
    border:darkblue;
    margin-top: 15px;
}

#nextQuestion-button {
    background-color: darkblue;
    border:darkblue;
    margin-top: 20px;
}
#start-button:hover {
    opacity:.75;
}

#currentQuestion {
    margin:10px;
    color:navy;
    font-weight: bold;

}

.answer {
    font-weight: bold;
    margin:5px;
}

.answer:hover {
    background:navy;
    color:white;
}

#message {
    color:orangered;
    text-align: center;
    margin:10px;
}

#correctedAnswer{
    color:navy;
    text-align: center;
    margin:10px;
}
